<v-app>
  <v-navigation-drawer
    v-model="drawer"
    app
  >
    <v-list dense>
      <router-link to="/">
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>ホーム</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>
      <router-link to="/search_faces">
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-account-question</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>人物認識</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>
      <router-link to="/analysis_faces">
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-face-recognition</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>顔画像分析</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>
    </v-list>
  </v-navigation-drawer>

  <v-app-bar app color="indigo" dark>
    <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    <v-toolbar-title>ハンズオン用デモアプリ</v-toolbar-title>
  </v-app-bar>

  <v-content>
    <v-container fluid>
      <router-view></router-view>
    </v-container>
  </v-content>
  <v-footer color="indigo" app>
    <span class="white--text">&copy; 2020 IoT.kyoto </span>
  </v-footer>
</v-app>